<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcom to CCTV Web Service</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/page-style/index.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    {{> headerPartials }}
    <div class="header-offset"></div>

    <div class="content">
        <div class="fillter-container">
            <div class="fillter-list">
                <a href="/" class="fillter-item">All</a>
                <a href="/" class="fillter-item">All</a>
                <a href="/" class="fillter-item">All</a>
                <a href="/" class="fillter-item">All</a>
            </div>
            <div class="container-search">
                <form action="/search" method="POST">
                    <input type="text" name="search">
                    <a href="/search">Search</a>
                </form>
            </div>
        </div>
        <div class="users-list">
            <div class="user-item">
                <div class="user-img">
                    <img src="/images/logo-sm.png" alt="">
                </div>
                <div class="user-details">
                    <h4>Roseedee Cehlaeh</h4>
                    <p>0630742165</p>
                    <a href="https://www.google.co.th/maps/place/%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%99+%E0%B9%80%E0%B8%AD%E0%B8%A7%E0%B8%B2%E0%B8%A2%E0%B8%8B%E0%B9%8C+%E0%B8%84%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%B4%E0%B8%A7%E0%B9%80%E0%B8%95%E0%B8%AD%E0%B8%A3%E0%B9%8C+%E0%B9%80%E0%B8%8B%E0%B8%AD%E0%B8%A3%E0%B9%8C%E0%B8%A7%E0%B8%B4%E0%B8%AA/@6.5177645,101.3999263,10.5z/data=!4m6!3m5!1s0x31b39d5148d97fc7:0x800201770a3db333!8m2!3d6.4571512!4d101.3494739!16s%2Fg%2F11g8yhf8n5?hl=th&entry=ttu" target="_blank"><img class="icon" src="/icons/location.png" alt="">Thailand Yala</a>
                </div>
                <div class="user-details">
                    <h4>Roseedee Cehlaeh</h4>
                    <p>0630742165</p>
                    <address>Thailand Yala</address>
                </div>
            </div>
            <div class="user-item">
                <div class="user-img">
                    <img src="/images/logo-sm.png" alt="">
                </div>
                <div class="user-details">
                    <h4>Roseedee Cehlaeh</h4>
                    <p>0630742165</p>
                    <a href="https://www.google.co.th/maps/place/%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%99+%E0%B9%80%E0%B8%AD%E0%B8%A7%E0%B8%B2%E0%B8%A2%E0%B8%8B%E0%B9%8C+%E0%B8%84%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%B4%E0%B8%A7%E0%B9%80%E0%B8%95%E0%B8%AD%E0%B8%A3%E0%B9%8C+%E0%B9%80%E0%B8%8B%E0%B8%AD%E0%B8%A3%E0%B9%8C%E0%B8%A7%E0%B8%B4%E0%B8%AA/@6.5177645,101.3999263,10.5z/data=!4m6!3m5!1s0x31b39d5148d97fc7:0x800201770a3db333!8m2!3d6.4571512!4d101.3494739!16s%2Fg%2F11g8yhf8n5?hl=th&entry=ttu" target="_blank"><img class="icon" src="/icons/location.png" alt="">Thailand Yala</a>
                </div>
                <div class="user-details">
                    <h4>Roseedee Cehlaeh</h4>
                    <p>0630742165</p>
                    <address>Thailand Yala</address>
                </div>
            </div>
            <div class="user-item">
                <div class="user-img">
                    <img src="/images/logo-sm.png" alt="">
                </div>
                <div class="user-details">
                    <h4>Roseedee Cehlaeh</h4>
                    <p>0630742165</p>
                    <a href="https://www.google.co.th/maps/place/%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%99+%E0%B9%80%E0%B8%AD%E0%B8%A7%E0%B8%B2%E0%B8%A2%E0%B8%8B%E0%B9%8C+%E0%B8%84%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%B4%E0%B8%A7%E0%B9%80%E0%B8%95%E0%B8%AD%E0%B8%A3%E0%B9%8C+%E0%B9%80%E0%B8%8B%E0%B8%AD%E0%B8%A3%E0%B9%8C%E0%B8%A7%E0%B8%B4%E0%B8%AA/@6.5177645,101.3999263,10.5z/data=!4m6!3m5!1s0x31b39d5148d97fc7:0x800201770a3db333!8m2!3d6.4571512!4d101.3494739!16s%2Fg%2F11g8yhf8n5?hl=th&entry=ttu" target="_blank"><img class="icon" src="/icons/location.png" alt="">Thailand Yala</a>
                </div>
                <div class="user-details">
                    <h4>Roseedee Cehlaeh</h4>
                    <p>0630742165</p>
                    <address>Thailand Yala</address>
                </div>
            </div>
            <div class="user-item">
                <div class="user-img">
                    <img src="/images/logo-sm.png" alt="">
                </div>
                <div class="user-details">
                    <h4>Roseedee Cehlaeh</h4>
                    <p>0630742165</p>
                    <a href="https://www.google.co.th/maps/place/%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%99+%E0%B9%80%E0%B8%AD%E0%B8%A7%E0%B8%B2%E0%B8%A2%E0%B8%8B%E0%B9%8C+%E0%B8%84%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%B4%E0%B8%A7%E0%B9%80%E0%B8%95%E0%B8%AD%E0%B8%A3%E0%B9%8C+%E0%B9%80%E0%B8%8B%E0%B8%AD%E0%B8%A3%E0%B9%8C%E0%B8%A7%E0%B8%B4%E0%B8%AA/@6.5177645,101.3999263,10.5z/data=!4m6!3m5!1s0x31b39d5148d97fc7:0x800201770a3db333!8m2!3d6.4571512!4d101.3494739!16s%2Fg%2F11g8yhf8n5?hl=th&entry=ttu" target="_blank"><img class="icon" src="/icons/location.png" alt="">Thailand Yala</a>
                </div>
                <div class="user-details">
                    <h4>Roseedee Cehlaeh</h4>
                    <p>0630742165</p>
                    <address>Thailand Yala</address>
                </div>
            </div>
        </div>
    </div>

    {{!-- {{> footerPartials }} --}}
</body>
</html>