<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcom to CCTV Web Service</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/page-style/index.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    {{> headerPartials }}
    <div class="header-offset"></div>


    {{!-- {{> footerPartials }} --}}
</body>
</html>