<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css//page-style/login.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    {{!-- {{> headerPartials }} --}}
    <header>
        <div class="header-content">
            <div class="header-col">
                <a href="/"><img src="images/logo-sm.png" class="logo-img" alt="logo"></a>
            </div>
            <div class="header-col">
                <h1>CCTV Web Service</h1>
            </div>
            <div class="header-col">
                <a href="/login">
                    <div class="login-bth">R</div>
                </a>
            </div>
        </div>
    </header>
    <div class="header-offset"></div>
    
    <form  class="container" action="/login" method="post">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
            
        <button type="submit">Login</button>
        <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </form>

    {{> footerPartials }}
</body>
</html>