<footer>
    <hr width="50%">
    <div class="footer-content-row footer-content-row-top">
        <div class="footer-content-sub">
            <h4>column 1</h4>
        </div>
        <div class="footer-content-sub">
            <h4>column 2</h4>
        </div>
    </div>
    <div class="footer-content-row">
        hi my name is Roseedee
    </div>
</footer>