<header>
    <div class="header-content">
        <div class="header-col">
            <a href="/"><img src="images/logo-sm.png" class="logo-img" alt="logo"></a>
        </div>
        <div class="header-col">
            <h1>CCTV Web Service</h1>
        </div>
        <div class="header-col">
            <a href="/login">
                <div class="login-bth">R</div>
            </a>
        </div>
    </div>
</header>